.chatWrapper {
  max-width: 700px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.chatBox {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  height: 400px;
  overflow-y: auto;
  background: #f9f9f9;
  margin-bottom: 10px;
}

.message {
  padding: 8px 12px;
  border-radius: 20px;
  margin-bottom: 8px;
  max-width: 70%;
  position: relative;
}

.adminMessage {
  background-color: #baadae;
  color: rgb(2, 2, 2);
  margin-left: auto;
  text-align: right;
}

.userMessage {
  background-color: #e9ecef;
  color: black;
  margin-right: auto;
  text-align: left;
}

.sender {
  font-weight: bold;
}

.time {
  font-size: 0.7rem;
  opacity: 0.7;
  margin-top: 2px;
}

.inputArea {
  display: flex;
}

.inputArea input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-right: 5px;
}

.inputArea button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #dc3545;
  color: white;
  cursor: pointer;
}
